/* clear browser margin and padding */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}



nav{
    background: #0A1931;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    /* height:12vh; */
}


li{
list-style-type:none;
}

.nav-header{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}

.nav-toggle{
    font-size: 1.5rem;
    color: hsl(205, 78%, 60%);
    background: transparent;
    border: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-left:1rem;
}

.nav-toggle:hover{
    color:#fff;
    transform: rotate(90deg);
}
.logo{
    height: 50px;
    /* margin-top: px; */
   cursor: pointer;
   margin-right:1.5rem;
}

.link{
    margin-right:0.2rem;
    background-color: blanchedalmond;
}

.links  .Icon{
    color:#fff;
    font-size: 1.5rem;
    margin:2rem;
    transform: scale(1);
    transition: all 0.3s linear;
}

.Icon:last-child{
    margin-right: 0rem;
}
li{
    padding-bottom:20px;
    margin-top: 0.5rem;
}
li:hover .Icon{
    color:#A19882;
}


.links{
    height: 0;
    overflow: hidden;
    transition:all 0.3s linear;
}

.show-links{
    height: 14rem;
  
}

@media screen and (min-width:768px){
    nav{
        height:10vh;
    }
    .nav-center{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1rem;
    }

    .nav-header{
        padding:0;
        flex-direction: row;
    }
    
    .logo{
        height: 50px;
        margin-top: -22px;
    
    }
    .nav-toggle{
        display: none;
    }

    .links{
        height: auto;
        display:flex;
    }

    .links span:hover{
        color:#A19882;
    }
   
}

main{
    display: flex;
    align-items: center;
}

.sideBar-fetch{
    background:#0A1931;
    color:#fff;
    width: 2vw;
    height:20vh;
    border-top-right-radius:0.3rem ;
    border-bottom-right-radius:0.3rem ;
    box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.63);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sideBar-fetch h3{
    transform: rotate(-90deg);
}

.sideBar-fetch.hide{
    display: none;
}
aside{
    width:5vw;
    height:80vh;
    margin-top:1rem;
    margin-left: 0.3rem;
    border-radius: 0.5rem;
    box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.63);
    transform: translateX(-200%);
    transition: all 0.3s linear;
    /* margin-right: 1.7rem; */
}


aside.show{
    margin-right: 2rem;
    transform: translateX(10%);
}


aside .tools{
    width:100%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius:0.2rem ;
    margin-top:0.2rem;
    transform: scale(1);
    transition: all 0.3s linear;
    cursor: pointer;
    position: relative;
}

aside .tools:hover{
    transform: scale(1.2);
    transition: all 0.3s linear;
    color:#FEF7DC;
    background-color: #1b4588;
    cursor: pointer;
}

aside .tools.activeOption{
    color:#FEF7DC;
    background-color: #0A1931;
}

aside .tools.active{
    color:#FEF7DC;
    background-color: #0A1931;
}


.cancel{
    font-size: 2rem;
    color:red;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: resize 1s linear infinite;
    position: fixed;
    bottom:1.5rem;
    cursor: pointer;
    width:100%;
}


@keyframes resize{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(0.8);
    }
}
section{
    /* position: relative; */
    cursor:crosshair;
    height:83vh;
    width:90vw;
    margin-top:1rem ;
    border-radius: 0.3rem;
    box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.63);
}


@media screen and (max-width:768px){
    
    main{
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width:100vw;
    }

    aside{
        display: flex;
        width:70vw;
        height:6vh;
        margin-left: -3rem;
    }

    aside .tools{
        width:12%;
        margin-top:-1px;
        height:100%;
       font-size: 1.2rem;
    }

    .sideBar-fetch {
        width:20vw;
        height:5vh;
        border-bottom-left-radius:0.3rem ;
        border-bottom-right-radius:0.3rem ;  
        border-top-right-radius: 0;
    }
    .sideBar-fetch h3{
        transform: rotate(0deg);
    }

   .cancel{
       position: fixed;
       /* right:0.2rem; */
       left:32vw;
       top:41%;
       font-size: 1.2rem;
   }
    
    section{
        position:absolute;
        top:120%;
        left:5.5%;
        height:65vh;
        max-height: 650px;
        
    }
}


.container-2{
    display: none;
    transition: all .3s ease;
}
.pencil.activeOption ~ .container-2
{
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    border: .5px solid black;
    background-color: #fff;
    box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.63);
    left:5.1rem;
    top:-0.1rem;
    width:4rem;
    padding:0.3rem;
    border-radius: 0.5rem;
    transition: all .3s ease;
}
.pencil.activeOption~ .triangle{
    z-index: 100;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 12px;
    border-color: transparent transparent transparent gray;
    display: inline-block;
    /* margin-bottom: 10px; */
    margin-left: 0px;
    position: absolute;
    top:10px;
    left:100%;
    transform:rotate(-180deg);
    transition: all .3s ease;

}
.pencil.activeOption:hover~ .triangle{
    left:110%;
    transition: all .3s ease;
}
.pencil.activeOption:hover~ .container-2{
    left:5.4rem;
    transition: all .3s ease;
}
.number{
    margin-bottom: 1rem;
    height:2rem;
    font-size:1.5rem;
    outline: none;
}
.penColors{
    cursor: pointer;
    margin-left: 0.25rem;
    margin-top:0.5rem;   
    border-radius: 0.5rem;
  
}
.triangle{
  display: none;
}

.shapes.activeOption~.container-3{
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    border: .5px solid black;
    background-color: #fff;
    box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.63);
    left:4.5rem;
    margin-top:-3.2rem;
    margin-left:0.6rem;
    width:5rem;
    padding:0.3rem;
    border-radius: 0.5rem;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.shapes.activeOption~.triangle3{
     z-index: 100;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 10px 0 10px 12px;
     border-color: transparent transparent transparent gray;
     display: inline-block;
     margin-bottom: 10px; 
     margin-left: 0px;
     position: absolute;
     /* top:; */
     /* bottom:2rem; */
     
     margin-top:-2.5rem;
     left:100%;
     transform:rotate(-180deg);
     transition: all .3s ease; 
 }

.shape.activeOption:hover~ .triangle3{
    margin-left:2rem;
    transition: all .3s ease;
    background-color: brown;
}

.shapes.activeOption~.container-3 div{
    background-color: #0A1931;
    width:100%;
    height:20%;
    margin-top:0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.6rem;
    border-radius: 0.5rem;
    color:white;
    cursor: pointer;
}

.square{
    font-size: 1.5rem;
    
}

.shapes.activeOption~.container-3 .rectangle div{
    padding-bottom:0.1rem;
    width:2.5rem;
    height:0.8rem;
    border:0.15rem solid white;
    margin-bottom: 1rem;
    border-radius: 0;
}

.circle{
    font-size: 1.5rem;
}


.shapes.activeOption~.container-3 .ellipse div{
    width:2rem;
    height:0.5rem;
    border: 0.2rem solid #fff;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.container-3{
    display: none;
}



.color.activeOption~.container-4{
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    border: .5px solid black;
    background-color: #fff;
    box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.63);
    left:4.5rem;
    margin-top:-3.2rem;
    margin-left:0.6rem;
    width:4rem;
    padding:0.3rem;
    border-radius: 0.5rem;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.color.activeOption~.triangle4{
     z-index: 100;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 10px 0 10px 12px;
     border-color: transparent transparent transparent gray;
     display: inline-block;
     /* margin-bottom: 10px; */
     margin-left: 0px;
     position: absolute;
     /* top:; */
     /* bottom:2rem; */
     margin-top:-2.5rem;
     left:100%;
     transform:rotate(-180deg);
     transition: all .3s ease;
}

.color.activeOption:hover~ .triangle4{
    left:110%;
    transition: all .3s ease;
    
}

.color.activeOption:hover~ .container-4{
    left:5rem;
    transition: all .3s ease;
}
.color.activeOption~.container-4 div{
    width:100%;
    height:20%;
    margin-top:0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.6rem;
    border-radius: 0.5rem;
    color:white;
    cursor: pointer;
}


.color.activeOption~.container-4 .black{
  background-color: black;
}
.color.activeOption~.container-4 .red{
  background-color: red;
}
.color.activeOption~.container-4 .green{
  background-color: green;
}
.color.activeOption~.container-4 .yellow{
  background-color: yellow;
}
.color.activeOption~.container-4 .blue{
  background-color: blue;
  margin-bottom: 1rem;
}
.color.activeOption~.container-4 .colors{
  margin-top:0.5rem;
  border-radius: 0.5rem;
}


.container-4{
    display: none;
}


.eraser.activeOption~.container-5{
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    border: .5px solid black;
    background-color: #fff;
    box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.63);
    left:4.5rem;
    margin-top:-3.2rem;
    margin-left:0.6rem;
    width:4rem;
    padding:0.3rem;
    border-radius: 0.5rem;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.eraser.activeOption~.triangle5{
     z-index: 100;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 10px 0 10px 12px;
     border-color: transparent transparent transparent gray;
     display: inline-block;
     /* margin-bottom: 10px; */
     margin-left: 0px;
     position: absolute;
     /* top:; */
     /* bottom:2rem; */
     margin-top:-2.5rem;
     left:100%;
     transform:rotate(-180deg);
     transition: all .3s ease;
}

.eraser.activeOption:hover~ .triangle5{
    left:110%;
    transition: all .3s ease;
    
}

.eraser.activeOption:hover~ .container-5{
    left:5rem;
    transition: all .3s ease;
}

.number{
    font-size: 1rem;
    width:100%;
  
}

.container-5{
    display: none;
}


@media screen and (max-width:768px){
    .pencil.activeOption~ .triangle{
       display: none;
    }
    
    .pencil.activeOption~ .container-2{
         flex-direction: row;
         justify-content: space-between;
         
         width:25%;
         height:85%;
         position: absolute;
         top:110%;
         left:2rem;
    }
    .number{
        font-size: 0.8rem;
        width:50%;
        height:100%;
        margin-right: 1rem;
    }
    .penColors{
        margin-top:-0.05rem;
        /* margin-left:0.1rem ; */
        border-radius: 0.5rem;
        
    }
    .pencil.activeOption:hover~ .container-2{
        left:0;
        top:115%;
    }

    .eraser.activeOption~.container-5{
         top:240%;
         left:15%;
        justify-content: center;
        align-items: center;
        height:80%;
        width:12%;
    }
    
    .eraser.activeOption:hover~.container-5{
         left:9%;
         top:245%;
    }
    .eraser.activeOption~.triangle5{
      display: none;
    }
    .eraser.activeOption~.container-5 .number{
        width:100%;
        margin-left: 1rem;
        margin-top: 0.9rem;
    }

    .color.activeOption~.container-4{
        position: absolute;
     
        width:35vw;
        height:6vh;
        
        flex-direction:row;
        top:242%;
        left:40%;
        z-index:10000;
       
    }
    .color.activeOption~.triangle4{
         display: none;
    }
    
    
    .color.activeOption:hover~ .container-4{
       top:244%;
        left:33%;
        transition: all .3s ease;
    }
    .color.activeOption~.container-4 div{
        width:5%;
        height:10%;
        /* margin-top:0.8rem; */

        /* padding:0.6rem; */

        border-radius: 0.5rem;
        color:white;
        cursor: pointer;
        margin:0.5rem;

    }
    

    .color.activeOption~.container-4 .blue{
      background-color: blue;
      margin-bottom: 5px;
    }

    .color.activeOption~.container-4 .colors{
        margin:0;
        width:15%;
        border-radius: 0.5rem;
    }

    section{
        z-index:-999;
    }

    .shapes.activeOption~.container-3{
        top:242%;
        left:28%;
        width:22rem;
        height:2.8rem;
        transition: all .3s ease;
        flex-direction: row;
    }
    .shapes.activeOption~.triangle3{
        display: none;
    }
    
    .shape.activeOption:hover~ .triangle3{
       left:-10%;
        transition: all .3s ease;
    }
    
    .shapes.activeOption~.container-3 div{
        width:50%;
        height:100%;
        margin-top:0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0.6rem;
        border-radius: 0.5rem;
        color:white;
        cursor: pointer;
        margin:0.2rem;
        font-size:1rem;
    }
    
    .square{
        font-size: 1.5rem;
        
    }
    
    .shapes.activeOption~.container-3 .rectangle div{
        padding-bottom:0.1rem;
        width:2.5rem;
        height:0.8rem;
        border:0.15rem solid white;
        /* margin-bottom: 1rem; */
        border-radius: 0;
        margin-top: 1rem;
        margin-left: 0.2rem;
    }
    
    .circle{
        font-size: 1.5rem;
    }
    
    
    .shapes.activeOption~.container-3 .ellipse div{
        width:2rem;
        height:0.3rem;
        border: 0.2rem solid #fff;
        /* margin-bottom: 1rem; */
        border-radius: 50%;
        margin-top: 1rem;
    }
    
}

